
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background: #1e1e1e;
  margin: 0;
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}

input
{
  font-family: sans-serif;
  font-size: 10pt;
}

table {
  border-collapse: collapse;
  border: 0;
}

td {
  border: 0;
  padding: 0;
}

.time {
  color: white;
}

.name {
  color: #FF8C00;
  font-weight: bold;
}

.embed_img {
  vertical-align: top;
  padding-left: 50px;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 200px;
}

#chat_area {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#text_block {
  height: 100%;
  width: 100%;
}

#users {
  width: 180px;
  font-size: 16px;
  padding: 10px;
}

#users_title {
  text-align: center;
}

#rooms {
  width: 260px;
  font-size: 16pt;
  background: #707070;
}

#rooms_title {
  text-align: center;
  background: #505050;
  padding: 5px;
}

.room_button {
  padding-left: 10px;
}

#header {
  height: 40px;
  background: black;
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
}

#body {
  position: absolute;
  padding: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#input {
  margin-top: 0.5em;
  color: black;
  padding-left: 10px;
  width: 100%;
}

#inbox {
  padding-top: 5px;
  overflow-y: scroll;
  height: calc(100% - 90px);
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

#inbox .message {
  padding-top: 0.25em;
}

#nav {
  float: right;
  z-index: 99;
}
